/** MENU **/

@mixin menu_config_movil() {
  header {
    width: 100%;
    height: 60px;
    font-family: "Playfair Display", serif;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    background-color: map-get($color, "crema");
    border-bottom: 2px solid map-get($color, "azul");

    transition: all 300ms;

    .container__header {
      max-width: 1200px;
      height: 100%;
      display: flex;
      justify-content: space-between;
      margin: auto;
      padding: 0px 20px;

      /** Logo **/
      .logo {
        height: 100%;
        display: flex;
        align-items: center;
      }
      a {
        &:link,
        &:visited,
        &:active {
          text-decoration: none;
          color: map-get($color, "azul");
          font-size: 4vmin;
        }
      }
    }
    /** Menu **/
    .container__nav {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 100%;
      nav {
        height: 100%;
        ul {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          li {
            list-style: none;
            a {
              color: map-get($color, "azul");
              margin: 0px 20px;
              position: relative;
              text-decoration: none;
              font-size: 20px;
              &:hover {
                color: map-get($color, "azul");
              }
            }
          }
        }
      }
      /** :Hover **/
      nav ul a::before,
      nav ul a::after {
        content: "";
        height: 14px;
        width: 14px;
        position: absolute;
        transition: all 0.35s ease;
        opacity: 0;
      }
      nav ul a::before {
        content: "";
        right: -10px;
        top: -5px;
        border-top: 3px solid map-get($color, "azul");
        border-right: 3px solid map-get($color, "azul");
        transform: translate(-100%, 50%);
      }

      nav ul a:after {
        content: "";
        left: -10px;
        bottom: -6px;
        border-bottom: 3px solid map-get($color, "azul");
        border-left: 3px solid map-get($color, "azul");
        transform: translate(100%, -50%);
      }
      nav ul a:hover:before,
      nav ul a:hover:after {
        transform: translate(0, 0);
        opacity: 1;
      }
    }
    .btn__menu {
      width: 50px;
      height: 50px;
      font-size: 20px;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      transition: background 300ms;
      display: flex;
      &:hover {
        background-color: #b1a9a97a;
      }
    }
  }
}

@mixin menu_config() {
  header {
    width: 100%;
    height: 60px;
    font-family: "Playfair Display", serif;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    background-color: map-get($color, "crema");
    border-bottom: 2px solid map-get($color, "azul");

    transition: all 300ms;

    .container__header {
      max-width: 1200px;
      height: 100%;
      display: flex;
      justify-content: space-between;
      margin: auto;
      padding: 0px 20px;

      /** Logo **/
      .logo {
        height: 100%;
        display: flex;
        align-items: center;
      }
      a {
        &:link,
        &:visited,
        &:active {
          text-decoration: none;
          color: map-get($color, "azul");
          font-size: 1.25rem;
        }
      }
    }
    /** Menu **/
    .container__nav {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 100%;
      nav {
        height: 100%;
        ul {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          li {
            list-style: none;
            a {
              color: map-get($color, "azul");
              margin: 0px 20px;
              position: relative;
              text-decoration: none;
              font-size: 1.25rem;
              &:hover {
                color: map-get($color, "azul");
              }
            }
          }
        }
      }
      /** :Hover **/
      nav ul a::before,
      nav ul a::after {
        content: "";
        height: 14px;
        width: 14px;
        position: absolute;
        transition: all 0.35s ease;
        opacity: 0;
      }
      nav ul a::before {
        content: "";
        right: -10px;
        top: -5px;
        border-top: 3px solid map-get($color, "azul");
        border-right: 3px solid map-get($color, "azul");
        transform: translate(-100%, 50%);
      }

      nav ul a:after {
        content: "";
        left: -10px;
        bottom: -6px;
        border-bottom: 3px solid map-get($color, "azul");
        border-left: 3px solid map-get($color, "azul");
        transform: translate(100%, -50%);
      }
      nav ul a:hover:before,
      nav ul a:hover:after {
        transform: translate(0, 0);
        opacity: 1;
      }
    }
    .btn__menu {
      display: none;
    }
  }
}

/** CONTACTO **/

@mixin contacto_config_movil() {
  main {
    font-family: "Playfair Display", serif;
    padding: 1.5em;
  }

  .conteiner__all {
    box-sizing: border-box;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.1em;
    background-color: map-get($color, "crema");
    box-shadow: 0 0 20px 0 map-get($color, "luz");
  }

  .contact-form {
    padding: 1em;

    h3 {
      text-align: center;
    }

    form {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: repeat(4, 25%);
      grid-template-areas:
        "block-1 block-2"
        "block-3 block-4"
        "block-5 block-5"
        "block-6 block-6";
    }

    .block-1 {
      grid-area: block-1;
    }

    .block-2 {
      grid-area: block-2;
    }

    .block-3 {
      grid-area: block-3;
    }

    .block-4 {
      grid-area: block-4;
    }

    .block-5 {
      grid-area: block-5;
      margin-bottom: 130px;
    }

    .block-6 {
      grid-area: block-6;
    }

    form p {
      margin: 0;
      padding: 0.7em;
      button,
      input,
      textarea {
        width: 100%;
        padding: 0.7em;
        border: none;
        background: none;
        outline: 0;
        border-bottom: 1px solid map-get($color, "azul");
      }
      button {
        border: 5px solid map-get($color, "azul");
        padding: 1em;
        &:hover,
        :focus {
          transition: background-color 300ms ease-out;
          background-color: map-get($color, "mar");
          outline: 0;
          color: map-get($color, "crema");
        }
      }
    }
  }

  .contact-info {
    background-color: map-get($color, "azul");
    color: map-get($color, "blanco");
    padding: 1em;
    text-align: center;

    ul {
      list-style: none;
      padding: 0;
      li {
        padding: 0.2em;
      }
    }

    p {
      margin: 0 0 1rem 0;
    }
  }
  .maps {
    display: flex;
    flex-direction: column;
    border: 5px solid map-get($color, "blanco");
    iframe {
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
}

@mixin contacto_config() {
  main {
    font-family: "Playfair Display", serif;
    padding: 1.5em;
  }

  .conteiner__all {
    margin-top: -50px;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.1em;
    background-color: map-get($color, "crema");
    box-shadow: 0 0 20px 0 map-get($color, "luz");
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas:
      "form info"
      "maps maps";
  }

  .contact-form {
    grid-area: form;
    padding: 1em;

    h3 {
      text-align: center;
    }

    form {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: repeat(4, 25%);
      grid-template-areas:
        "block-1 block-2"
        "block-3 block-4"
        "block-5 block-5"
        "block-6 block-6";
    }

    .block-1 {
      grid-area: block-1;
    }

    .block-2 {
      grid-area: block-2;
    }

    .block-3 {
      grid-area: block-3;
    }

    .block-4 {
      grid-area: block-4;
    }

    .block-5 {
      grid-area: block-5;
      margin-bottom: 130px;
    }

    .block-6 {
      grid-area: block-6;
    }

    form p {
      margin: 0;
      padding: 0.7em;
      button,
      input,
      textarea {
        width: 100%;
        padding: 0.7em;
        border: none;
        background: none;
        outline: 0;
        border-bottom: 1px solid map-get($color, "azul");
      }
      button {
        border: 5px solid map-get($color, "azul");
        padding: 1em;
        &:hover,
        :focus {
          transition: background-color 300ms ease-out;
          background-color: map-get($color, "mar");
          outline: 0;
          color: map-get($color, "crema");
        }
      }
    }
  }

  .contact-info {
    grid-area: info;
    background-color: map-get($color, "azul");
    color: map-get($color, "blanco");
    padding: 1em;
    text-align: center;

    ul {
      list-style: none;
      padding: 0;
      li {
        padding: 0.2em;
      }
    }

    p {
      margin: 0 0 1rem 0;
    }
  }

  .maps {
    grid-area: maps;
    border: 5px solid map-get($color, "blanco");
    iframe {
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
}

/** ESPECIALIDADES **/

@mixin especialidades_config() {
  /** main **/
  .conteiner__all__main {
    margin-top: -90px;
    display: grid;
    grid-template-columns: 160px auto;
    padding: 1em;
    .conteiner__main {
      background-color: map-get($color, "crema");
      padding: 1em;
      .top_titulo {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      /** carousel **/
      .carousel-inner {
        div {
          img {
            height: 400px;
          }
        }
        span {
          color: map-get($color, "crema");
          font-size: 20px;
        }
        .carousel-control-next,
        .carousel-control-prev {
          background-color: map-get($color, "azul");
        }
      }
    }

    /** submenu **/
    .conteiner__submenu {
      margin-left: -30px;
      background-color: map-get($color, "azul");
      padding: 1em;
      border: 2px solid map-get($color, "luz");
      ul {
        margin-left: -40px;

        list-style: none;
        li {
          margin-top: 30px;
          a {
            text-decoration: none;
            color: map-get($color, "crema");
            &:hover {
              color: map-get($color, "luz");
            }
            i {
              font-size: 14px;
              display: flex;
              flex-direction: row;
              h4 {
                font-size: 20px;
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
  }
  .btn__submenu {
    display: none;
  }
}

@mixin especialidades_config__tablet() {
  .conteiner__all__main {
    padding: 1em;
    .conteiner__main {
      width: 99%;
      height: 100%;
      background-color: map-get($color, "crema");
      padding: 1em;
      .top_titulo {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    /** carousel **/
    .carousel-inner {
      div {
        img {
          height: 400px;
        }
      }
      span {
        color: map-get($color, "crema");
        font-size: 17px;
      }
      .carousel-control-next,
      .carousel-control-prev {
        background-color: map-get($color, "azul");
      }
    }

    .conteiner__submenu {
      width: 90%;
      height: 90%;
      margin-left: -800px;
      background-color: aqua;
      padding: 1em;
      position: fixed;

      ul {
        margin-left: -40px;
        list-style: none;
        li a {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 30px;
          i {
            font-size: 14px;
            display: flex;
            flex-direction: row;
            h4 {
              font-size: 20px;
              margin-left: 10px;
            }
          }
        }
      }
    }
    .btn__submenu {
      width: 50px;
      height: 50px;
      font-size: 20px;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      transition: background 300ms;
      display: flex;
      &:hover {
        background-color: #b1a9a97a;
      }
    }
  }
}

@mixin especialidades_config__movil() {
  .conteiner__all__main {
    padding: 1em;
    .conteiner__main {
      width: 100%;
      height: 100%;
      background-color: map-get($color, "crema");
      padding: 1em;
      .top_titulo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        h3 {
          font-size: 25px;
        }
      }
    }

    /** carousel **/
    .carousel-inner {
      div {
        img {
          height: 145px;
        }
      }
      .visually-hidden {
        display: none;
      }
      .carousel-control-next,
      .carousel-control-prev {
        background-color: map-get($color, "azul");
      }
    }

    .conteiner__submenu {
      width: 83%;
      height: 100%;
      margin-left: -800px;
      background-color: aqua;
      padding: 1em;
      position: fixed;

      ul {
        margin-left: -40px;
        list-style: none;
        li a {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 30px;
          i {
            font-size: 14px;
            display: flex;
            flex-direction: row;
            h4 {
              font-size: 20px;
              margin-left: 10px;
            }
          }
        }
      }
    }
    .btn__submenu {
      width: 50px;
      height: 50px;
      font-size: 20px;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      transition: background 300ms;
      display: flex;
      &:hover {
        background-color: #b1a9a97a;
      }
    }
  }
}

/** CARDIOLOGIA **/

@mixin cardiologia_config() {
  /** main **/
  .conteiner__all__main {
    margin-top: -90px;
    display: grid;
    grid-template-columns: 160px auto;
    padding: 1em;

    .conteiner__main {
      background-color: map-get($color, "crema");
      padding: 1em;
      .ul1 {
        list-style: none;
      }
      .top_titulo {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      /** carousel **/
      .carousel-inner {
        div {
          img {
            height: 400px;
          }
        }
        span {
          color: map-get($color, "crema");
          font-size: 20px;
        }
        .carousel-control-next,
        .carousel-control-prev {
          background-color: map-get($color, "azul");
        }
      }
    }

    /** submenu **/
    .conteiner__submenu {
      margin-left: -30px;
      background-color: map-get($color, "azul");
      padding: 1em;
      border: 2px solid map-get($color, "luz");
      ul {
        margin-left: -40px;

        list-style: none;
        li {
          margin-top: 30px;
          a {
            text-decoration: none;
            color: map-get($color, "crema");
            &:hover {
              color: map-get($color, "luz");
            }
            i {
              font-size: 14px;
              display: flex;
              flex-direction: row;
              h4 {
                font-size: 20px;
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
  }
  .btn__submenu {
    display: none;
  }
}

@mixin cardiologia_config__tablet() {
  .conteiner__all__main {
    padding: 1em;
    .conteiner__main {
      width: 99%;
      height: 100%;
      background-color: map-get($color, "crema");
      padding: 1em;
      .top_titulo {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    /** carousel **/
    .carousel-inner {
      div {
        img {
          height: 400px;
        }
      }
      span {
        color: map-get($color, "crema");
        font-size: 17px;
      }
      .carousel-control-next,
      .carousel-control-prev {
        background-color: map-get($color, "azul");
      }
    }

    .conteiner__submenu {
      width: 90%;
      height: 90%;
      margin-left: -800px;
      background-color: aqua;
      padding: 1em;
      position: fixed;

      ul {
        margin-left: -40px;
        list-style: none;
        li a {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 30px;
          i {
            font-size: 14px;
            display: flex;
            flex-direction: row;
            h4 {
              font-size: 20px;
              margin-left: 10px;
            }
          }
        }
      }
    }
    .btn__submenu {
      width: 50px;
      height: 50px;
      font-size: 20px;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      transition: background 300ms;
      display: flex;
      &:hover {
        background-color: #b1a9a97a;
      }
    }
  }
}

@mixin cardiologia_config__movil() {
  .conteiner__all__main {
    padding: 1em;
    .conteiner__main {
      width: 100%;
      height: 100%;
      background-color: map-get($color, "crema");
      padding: 1em;
      .top_titulo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        h3 {
          font-size: 25px;
        }
      }
    }

    /** carousel **/
    .carousel-inner {
      div {
        img {
          height: 145px;
        }
      }
      .visually-hidden {
        display: none;
      }
      .carousel-control-next,
      .carousel-control-prev {
        background-color: map-get($color, "azul");
      }
    }

    .conteiner__submenu {
      width: 83%;
      height: 100%;
      margin-left: -800px;
      background-color: aqua;
      padding: 1em;
      position: fixed;

      ul {
        margin-left: -40px;
        list-style: none;
        li a {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 30px;
          i {
            font-size: 14px;
            display: flex;
            flex-direction: row;
            h4 {
              font-size: 20px;
              margin-left: 10px;
            }
          }
        }
      }
    }
    .btn__submenu {
      width: 50px;
      height: 50px;
      font-size: 20px;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      transition: background 300ms;
      display: flex;
      &:hover {
        background-color: #b1a9a97a;
      }
    }
  }
}
